<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <script src="https://kit.fontawesome.com/23516548b4.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container mt-3">
        <div class="row mt-3 justify-content-center">
            <a href="/">
                <img class="logo" src="/images/marvel.svg" alt="">
            </a>
        </div>
    </div>
    {{{body}}}


    <p class="m">Data provided by Marvel. © 2020 MARVEL</p>
</body>
</html>