<div class="container">
    <form action="/search" method="GET">
        <div class="container">
            <i class="fas fa-search text-lg m"></i>
            <input class="lg abs-center text-lg round" type="text" name="q" placeholder="Enter a Marvel character name!" value="">
        </div>
        <div class="container m">
            <button class="text-lg round-s bg-white" type="submit">Search</button>
        </div>
    </form>
</div>